@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page {
    size: A4;
    margin: 0;
  }

  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .print\:hidden {
    display: none !important;
  }

  #biodata-preview,
  #biodata-content {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
}
